<ion-header [translucent]="true" class="barra">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="header" slot="end">
      Online
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
          <iframe height="415" src="https://www.youtube.com/embed/E8cXKMR9a1Q" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="width: 100%;"></iframe>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="danger" expand="block" shape="round"><a href="https://seriesflix.to/series/rick-y-morty/" target="_blank" style="text-decoration: none; color: white;">VER ONLINE</a></ion-button>
  <p style="text-align: center;">
    <br>
    ATENCION!!! <br>
    <span style="color: tomato;">Para disfrutar de esta serie sin problemas debera contar con una buena calidad de internet!</span>
  </p>
</ion-content>
