.header{
  // text-align: center;
  color: chartreuse;
}
.barra{
background : chartreuse;
}
.my-custom-menu {
  --width : 500px;
}
.hamburguesa{
  font-size: 40px;
  padding-right: 20px;
}
.color{
  color: chartreuse;
}
.texto-principal{
  color: chartreuse;
}


